.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

select, input {
  padding: 8px;
  font-size: 16px;
}

.statistics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stat-box {
  background: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.transactions-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.transactions-table th, .transactions-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.transactions-table th {
  background: #007bff;
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.bar-chart-container {
  text-align: center;
}

.heading{
  text-align: center;
  background-color:#007bff;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 2rem;
  margin: 2rem;
  font-size: 30px;
  font-weight: bold;
  color: white;
}


